<mat-toolbar  color="primary" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center center" class="brand">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <span>S.H.I.E.L.D.</span>
  </div>

  <button mat-button routerLink="heroes" routerLinkActive="active">Heroes</button>
  <button mat-button routerLink="crisises" routerLinkActive="active">Crisises</button>
  <button mat-button routerLink="missions" routerLinkActive="active">Missions</button>
</mat-toolbar>
<router-outlet></router-outlet>
